<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}"></title>
</head>
<body style="margin: 0">
<header th:replace="fragments/header.html :: header"></header>

<form th:action="@{/admin/postProduct}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{categoryId}">
    <p>Title:</p>
    <label>
        <input id="productName" type="text" th:value="*{name}" th:field="*{name}">
    </label>
    <p>Price:</p>
    <label>
        <input id="productPrice" type="text" th:value="*{price}" th:field="*{price}">
    </label>
    <button type="submit">Apply changes</button>
</form>
<br>
</body>
</html>