<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${category.name}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
</head>
<body style="margin: 0">
<header th:replace="fragments/header.html :: header"></header>
<h1>Products</h1>
<div class="row" th:each="product : ${category.products}">
    <div class="bg-secondary col-3 " th:onclick="|window.location.href='@{/admin/product(id=${product.id})}'|">
        <h3 th:text="${product.name}"></h3>
        <h5 th:text="${product.price}"></h5>
    </div>
    <button class="col-4 bg-danger"
            th:onclick="|window.location.href='@{/admin/deleteProduct(productId=${product.id},categoryId=${category.id})}'|">
        Remove
    </button>
</div>
<br>
<form th:action="@{/admin/postProduct}" method="post" th:object="${product}">
    <h3>Add product</h3>

    <input type="hidden" th:value="${category.id}" th:name="categoryId">
    <p>Title:</p>
    <label>
        <input id="productName" type="text" placeholder="Enter product title" th:field="*{name}">
    </label>
    <p>Price:</p>
    <label>
        <input id="productPrice" type="text" placeholder="Enter product price" th:field="*{price}">
    </label>
    <button type="submit">Add</button>
</form>
<br>


</body>
</html>