<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title th:text="${category.name}"></title>
</head>
<body style="margin: 0">
<header th:replace="fragments/header.html :: header"></header>
<h1>Products</h1>
<div class="row">
    <div class="col-12 col-md-5 m-1 bg-black"  th:each="product : ${category.products}"
         th:onclick="|window.location.href='@{/admin/product(id=${product.id})}'|">
        <h3 th:text="${product.name}"></h3>
        <h5 th:text="${product.price}"></h5>
    </div>
</div>
</body>
</html>