<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="margin: 0">
<header th:replace="fragments/header.html :: header"></header>
<form method='get' th:action="@{/allProducts(sortBy=*{sortBy}, sortDir=*{direction})}" th:object="${productFilterForm}">
    <table>
        <tr>
            <td>Sort by:</td>
            <td>
                <label>
                    <select th:field="*{sortBy}">
                        <option th:selected="${productFilterForm.sortBy.equals('NAME')}" value="NAME">NAME</option>
                        <option th:selected="${productFilterForm.sortBy.equals('PRICE')}" value="PRICE">PRICE</option>
                    </select>
                </label>
            </td>
            <td>Direction:</td>
            <td>
                <label>
                    <select th:field="*{direction}">
                        <option th:selected="${productFilterForm.direction.equals('ASC')}" value="ASC">ASC</option>
                        <option th:selected="${productFilterForm.direction.equals('DESC')}" value="DESC">DESC</option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <input th:field="*{search}" th:value="${productFilterForm.search}" type="text"/>
                </label>
            </td>
            <td>
                <input name="submit" type="submit" value="Search"/>
            </td>
        </tr>
    </table>
</form>
<h1>Products:</h1>
<table class="table">
    <thead>
    <tr>
        <td>Name</td>
        <td>Price</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productPage.products}"
        th:onclick="@{/guest/product(id=${product.id})}|">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>
<div class="row-cols-auto">
    <button class="btn-primary"
            th:onclick="|window.location.href='@{/allProducts(pageNo=${productPage.pageNo} - 1,sortBy=${productFilterForm.sortBy}, sortDir=${productFilterForm.direction})}'|"
            th:unless="${productPage.pageNo==1}">
        Prev
    </button>
    <button class="btn-primary" th:text="|page ${productPage.pageNo}|"></button>
    <a class="btn-primary"
       th:onclick="|window.location.href='@{/allProducts(pageNo=${productPage.pageNo} + 1,sortBy=${productFilterForm.sortBy}, sortDir=${productFilterForm.direction})}'|"
       th:unless="${productPage.last}">
        Next
    </a>
</div>
</body>
</html>